
* {
    scroll-behavior: smooth;
    border-style: none;
    border-left: none;
    box-sizing: border-box;
    border-top: none;
    outline: none;
    padding: 0%;
    margin: 0%;
}



body {
    background-color: #ffffff;
}



nav {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    position: fixed;
    border-bottom: 8px solid #070306;
}
nav ul {
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0%;
    display: flex;
    height: 80px;
    margin: 0%;
    width: 100%;
}

nav ul li {
    flex: 1;
}

nav ul a {
    background-color: #676567;
    border-collapse: collapse;
    justify-content: center;
    text-decoration: none;
    border-right: 4px solid #000000;
    align-items: center;
    text-align: center;
    font-size: 30px;
    flex-grow: 1;
    display: flex;
    padding: 10px;
    height: 80px;
    color: #f2eeff;
    width: 100%;
    font-weight: bold;
}

nav ul li:last-child a {
    border-right: none;
}

nav ul a:hover {
    background-color: #151730;
} 

.image {
    height: 500px;
    width: 100%;
}





main {
    display: flex;
    justify-content: 100%;
    margin: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
}

section {
    width: 50%;
}

div .container {
    display: flex;
    flex-wrap: wrap;
}

div .fistc {
    flex: 1;
    flex-direction: column;
    align-items: justify;
    padding-left: 80px;
    padding-right: 20px;
    line-height: 32px;
    color: #000000;
    font-size: 20px;

}

div .secondc {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-right: 80px;
    padding-left: 20px;
    color: #070707;
}


div .item {
    text-align: center;
    font-size: 0px;
    height: 140px;
    width: 220px;
    margin-bottom: 120px;
    box-shadow: 10px 30px 10px 5px#0e0a1b;
    text-decoration: none;
}

div .item img {
    height: 140px;
    width: 220px;
    border: 6px solid #69686d;
}

div .item img:hover {
    border: 4px solid rgb(101, 101, 101);
}


div .item h4 {
    background-color: #7f62cd;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
    color: #111111;
    height: 24px;
}





.footer{
    background-color: #000000;
    height: 100px;
}